<div class="container-fluid">
  <div class="row">
    <!--<div class="col-md-2"></div>-->
    <div class="col-md-12"> -->
      <iframe id="streamFrame" class="iframe" allow="camera;microphone;" id="iframe" src="https://nameless-plateau-81910.herokuapp.com/watchstream" style="display:block;width:100%;height:700px;" onload="sendData()"></iframe>
      <!-- <app-comments></app-comments> -->
    </div>
    <!-- <div class="col-md-2"></div>-->
  </div>
</div>
<input type="hidden" id="username" value='{{username}}'>
