<nav id="navBar" class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #a6dcef !important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-School</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLeftAlignExample" aria-controls="navbarLeftAlignExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLeftAlignExample">
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="role == '1'">
          <a class="nav-link" href="/faculty/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="role == '1'">
          <a class="nav-link" href="/faculty/broadcast">Stream Video</a>
        </li>
        <li class="nav-item" *ngIf="role == '1'">
          <a class="nav-link" href="/faculty/upload">Upload Video</a>
        </li>
        <li class="nav-item" *ngIf="role == '1'">
          <a class="nav-link" href="/faculty/videos">View Video</a>
        </li>
        <li class="nav-item" *ngIf="role == '0'">
          <a class="nav-link" href="/student/home">Home</a>
        </li>
        <li class="nav-item" *ngIf="role == '0'">
          <a class="nav-link" href="/student/live">Watch Live Stream</a>
        </li>
        <li class="nav-item" *ngIf="role == '0'">
          <a class="nav-link" href="/student/videos">View Video</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <mdb-icon fab icon="google-plus"></mdb-icon>
          </a>
        </li>
        <li class="nav-item" *ngIf="role != undefined">
          <a class="nav-link" href="/logout">
            <mdb-icon fas icon="sign-out-alt"></mdb-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
