.showBorder{
  border: 10px solid #ccc;
}
.videoContent{
  padding-top: 50px;
}
.iframe{
}

.container-fluid{
  margin: 0 !important;
  padding: 0% !important;
}

.content{
  margin-top: 100px;
}

.sub-content{
  margin-top: 50px;
}

.fade:not(.show) {
  display: none;
}

.radio-label{
  padding-inline-start: 10px;
}

.custom-control{
  margin-bottom: 20px;
}

p{
  display: flex;
  justify-content: center;
}

.class-code{
  font-size: 100px;
}

a{
  color: #1266f1 !important;
}