<div class="heading d-flex justify-content-evenly">
  <h3>Available Videos</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4" style="margin:10px; width:350px; border: 0px solid #ccc;word-wrap: break-word;" *ngFor="let video of videosArray;">
      <div class="videoContainer">
        <video id="{{video._id}}" playsinline controls width="1000" height="100px" onloadeddata="addStream()">
          <source src='https://nameless-plateau-81910.herokuapp.com/renderVideo/{{video._id}}' type="video/mp4" />
        </video>
      </div>
      <div class="title">
        <p> {{video.originalname}} </p>
      </div>
    </div>
    <div class="{{msg ? 'alert alert-danger alert-dismissible fade show' : 'alert alert-danger alert-dismissible fade hide'}}" role="alert" style="margin-top:10px;" *ngIf="msg != ''">
      {{msg}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
