<div class="container-fluid">

    <div class="row">
  
      <div class="col-md-8">
        <img class="resp-img" src="../../assets/img/pricing.png" alt="Pricing">
      </div>

      <div class="col-md-4">
  
        <div class="content">
  
          <div class="heading d-flex align-items-center justify-content-center">
            <p>Cart</p>
          </div>
  
          <div class="table-responsive d-flex align-items-center justify-content-center">

          <table class="table justify-content-center">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="row" class="item-value">Value</th>
                  <!-- <th>Remove</th> -->
                 </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of cartItem;">
                  <th class="bb-0" scope="row">1</th>
                  <td class="item-name bb-0" id="itemName">{{item.fullplanname}}</td>
                  <td class="bb-0" >{{item.amount}} $</td>
                  <!-- <td class="bb-0" id='{{item.fullplanname}}' (click)="remove()" style="cursor: pointer;">Remove</td> -->
              </tr>
              </tbody>
              <tfoot>
                <tr *ngFor="let item of cartItem;">
                  <th class="bb-0" scope="row" colspan="2">Total Value</th>
                  <td class="bb-0" id="totalVal">{{item.amount}} $</td>
                  <!-- <td class="bb-0"></td> -->
                </tr>
              </tfoot>
          </table>
        </div>

        <div class="d-flex align-items-center justify-content-center">
          <button class="esButton" id="checkoutbtn" [mdbTooltip]="subStatus === 'AV' ? 'Warning: You already have an active subscription.' : ''" placement="top" disabled="{{buttonDisabled}}">Checkout</button>
        </div>

        <div class="row" *ngIf="enablegateway">
          <div class="col-md-6 center">
            <img class="razorpay-logo" src="../../assets/img/razorpay.png" alt="Razorpay" (click)="rpay()">
          </div>
          <div class="col-md-6 center">
            <img class="stripe-logo" src="../../assets/img/stripe.png" alt="Stripe" (click)="spay()">
          </div>
        </div>

        <!-- <div class="d-flex align-items-center justify-content-center" *ngIf="enablegateway">
          <button class="btn btn-primary btn-block" id="razorpaybtn" (click)="rpay()">RazorPay</button>
        </div>

        <div class="d-flex align-items-center justify-content-center" *ngIf="enablegateway">
          <button class="btn btn-primary btn-block" id="stripebtn" (click)="spay()">Stripe</button>
        </div> -->
  
        <div id="alert" class="{{msg ? 'alert alert-warning alert-dismissible fade show' : 'alert alert-warning alert-dismissible fade hide'}}" role="alert" style="margin-top:10px;" *ngIf="msg != ''">
          {{msg}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <!-- <div #successAlert class="alert alert-warning alert-dismissible fade" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="closeSuccessAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{successMsg}}
        </div>

        <div #warnAlert class="alert alert-warning alert-dismissible fade" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="closeWarnAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{warnMsg}}
        </div>

        <div #errorAlert class="alert alert-warning alert-dismissible fade" role="alert">
          <button type="button" class="close" aria-label="Close" (click)="closeErrorAlert()">
            <span aria-hidden="true">&times;</span>
          </button>
          {{errorMsg}}
        </div> -->
  
      </div>
  
    </div>
  
    <!-- <div class="col-md-2"></div> -->
  
  </div>
  
</div>
  