table{
    margin: 10px;
    padding-right: 100px;
}

.table-header{
    height: 50px;
    border-bottom: 1px solid grey;
    padding-bottom: 100px;
}

.table-body{
    border-bottom: 1px solid grey;
}

td { 
    white-space:pre-wrap;
    max-width:300px;
    word-wrap:break-word;
}

table{
    width: 400px !important;
    border: 0px solid;
}

.item-value{
    width:100px !important;
}

tbody{
    border-bottom: 0px solid #fff;
}

tfoot{
    border-top: 0px solid #fff;
}

.heading{
    padding-top: 155px;
    font-size: 30px;
}

.btn{
    margin-top: 20px;
    width: 400px;
}
