<div id="pricing_table">   
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing_content clearfix">
                            <div class="pricing_head_price clearfix">
                                <div class="pricing_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Basic</span>
                                    </div>
                                </div>
                                <div class="pricing_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">7</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="pricing_feature_list">
                              <ul>
                                    <li><span>Live</span> Classes</li>
                                    <li><span>100</span> Videos/Day</li>
                                    <li>-</li>
                                    <li>-</li>
                                    <li><span>Community</span> Support</li>
                                </ul>
                            </div>
                            <div class="pricing_btn clearfix">
                              <a class="" (click)="addToCart(1)">{{btnDef}}</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="pricing_content clearfix" ngClass="active">
                            <div class="pricing_head_price clearfix">
                                <div class="pricing_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Standard</span>
                                    </div>
                                </div>
                                <div class="pricing_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">19</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/MON</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="pricing_feature_list">
                              <ul>
                                    <li><span>Live</span> Streams</li>
                                    <li><span>Unlimited</span> Videos</li>
                                    <li><span>Free</span> Consultation</li>
                                    <li><span>30 Days</span> Money Back Guarantee</li>
                                    <li><span>24/7</span> Premium Support</li>
                                </ul>
                            </div>
                            <div class="pricing_btn clearfix">
                              <a class="" (click)="addToCart(2)">{{btnDef}}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="pricing_content clearfix">
                            <div class="pricing_head_price clearfix">
                                <div class="pricing_head_content clearfix">
                                    <div class="head_bg"></div>
                                    <div class="head">
                                        <span>Unlimited</span>
                                    </div>
                                </div>
                                <div class="pricing_tag clearfix">  
                                    <span class="price">
                                        <span class="sign">$</span>
                                        <span class="currency">149</span>
                                        <span class="cent">.99</span>
                                        <span class="month">/YEAR</span>
                                    </span>
                                </div>
                            </div>                            
                            <div class="pricing_feature_list">
                                <ul>
                                <li><span>Live</span> Classes</li>
                                <li><span>Unlimited</span> Videos</li>
                                <li><span>Free</span> Consultation</li>
                                <li><span>30 Days</span> Money Back Guarantee</li>
                                <li><span>24/7</span> Premium Support</li>
                                </ul>
                            </div>
                            <div class="pricing_btn clearfix">
                              <a class="" (click)="addToCart(3)">{{btnDef}}</a>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </section>
        <div class="row alert-row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div #successAlert class="alert alert-warning alert-dismissible fade" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeSuccessAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{successMsg}}
                </div>
          
                <div #warnAlert class="alert alert-warning alert-dismissible fade" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeWarnAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{warnMsg}}
                </div>
          
                <div #errorAlert class="alert alert-warning alert-dismissible fade" role="alert">
                    <button type="button" class="close" aria-label="Close" (click)="closeErrorAlert()">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    {{errorMsg}}
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>