<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="logo d-flex justify-content-evenly">
        <img src="https://nameless-plateau-81910.herokuapp.com/img/logo.png" alt="logo" width="250px" height="100px">
      </div>
      <input type="hidden" id="hidden" name="hidden" value="hideNav">
      <div class="selector d-flex justify-content-evenly">
        <a href="/student/login" class="btn btn-primary ">I'm a student</a>
      </div>
      <div class="selector d-flex justify-content-evenly">
        <a href="/faculty/login" class="btn btn-primary ">I'm a teacher</a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
