<div class="container-fluid">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="logo d-flex justify-content-evenly">
        <img src="../../../assets/img/es-logo.jpg" alt="logo" width="250px" height="100px">
      </div>
      <!-- <div class="selector-first d-flex justify-content-evenly">
        <a routerLink="/student/login" class="btn btn-primary ">I'm a student</a>
      </div>
      <div class="selector d-flex justify-content-evenly">
        <a routerLink="/faculty/login" class="btn btn-primary ">I'm a faculty</a>
      </div>
      <div class="selector d-flex justify-content-evenly">
        <a routerLink="/admin/login" class="btn btn-primary ">I'm an admin</a>
      </div> -->
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
