input{
  border-bottom: 1px solid #ccc;
}

.logo{
  padding-top: 155px;
}

.form{
  padding-top: 25px;
}

.btn{
  margin-bottom: 1.5rem;
}

.hidden{
  display: none;
}

.fade:not(.show) {
  display: none;
}