form.checkout {
    max-width: 500px;
    margin: 2rem auto;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 8px;
    padding: 1rem 2rem;
    background: white;
  
    font-family: monospace;
    color: #525252;
    font-size: 1.1rem;
  }
  form.checkout button {
    padding: 0.5rem 1rem;
    color: white;
    background: coral;
    border: none;
    border-radius: 4px;
    margin-top: 1rem;
  }


.StripeElement {
  margin: 1rem 0 1rem;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.ElementsApp, .ElementsApp, .InputElement{
  border: 1px solid #000000;
}

.cardClass{
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

.borderClass--valid{
  border: 1px solid #ffffff;
  padding: 10px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.borderClass--invalid {
  border: 1px solid #fa755a;
  padding: 10px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
}

.heading{
  padding-top: 100px;
}

.price{
  padding-top: 50px;
}

.paybtn{
  padding-top: 10px;
  border-radius: 5px;
}